<header class="site-header">
  <a href="{{ '/' | relative_url }}" class="site-title">{{ site.title }}</a>
  <nav class="site-nav">
    <a href="{{ '/' | relative_url }}">Accueil</a>
    <a href="{{ '/publications.html' | relative_url }}">Publications</a>
    <a href="{{ '/cours.html' | relative_url }}">Cours</a>
    <a href="{{ '/projets.html' | relative_url }}">Projets</a>
    <a href="{{ '/cv.html' | relative_url }}">CV</a>
    <a href="{{ '/contact.html' | relative_url }}">Contact</a>
  </nav>
  <a href="https://github.com/sfederzoni" target="_blank">
    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark-Light-32px.png" 
         alt="GitHub" width="32" style="margin-top:10px;">
  </a>
</header>

